.side-nav {
    display: none;
}

@media (max-width: 769px) {
    .side-nav {
        display: block;
        font-family: 'montserrat-semi-bold';
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        opacity: 0.9;
        transition: 0.5s;
        padding-top: 60px;
    }

    .closebtn {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color: var(--red);
    }


    .side-nav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 18px;
        color: #818181;
        display: block;
        transition: 0.3s;
        width: 230px;
    }

    .side-nav-sublist-container {
        /* list-style: none; */
        width: 230px;
        padding: 0px 8px 8px 10px;

    }

    .sublist {
        list-style: none;
    }

    .sublist a {
        font-size: 14px;
    }
}